@import "tailwindcss";
.editable {
  background-color: #ecfeff;
  cursor: text;
}

.editable:focus {
  outline: 2px solid #06b6d4;
}

.noteditable {
  background-color: #f9fafb;
  cursor: not-allowed;
}
